
@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant

<h2>Restaurant Details</h2>
<hr />

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<h3>@Html.DisplayNameFor(model => model.BestFood): @Html.DisplayFor(model => model.BestFood)</h3>

<p>@Html.ActionLink("Back to List", "Index")</p>
<p>@Html.ActionLink("Edit Restaurant", "Edit", new {id = Model.idRestaurant})</p>
<p>@Html.ActionLink("Delete Restaurant", "Delete", new {id = Model.idRestaurant})</p>